.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.cardimage img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}


.cardbody {
  padding: 1.2rem;
  color: #333;
}

.cardbody p {
  margin: 0.3rem 0;
  line-height: 1.5;
}


.cardfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.8rem 1.2rem; */
  border-top: 1px solid #eee;
  background-color: #fafafa;
  margin-top: 1.2rem;
}


.cardheader {
  padding: 0.8rem 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  background-color: #fdfdfd;
}
@media (max-width: 900px) {
  .card {
    border-radius: 12px;
  }

  .cardimage img {
    height: 180px;
  }

  .cardbody {
    padding: 16px;
  }

  .cardfooter {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}






